<div class="container">
  <div class="comment-form">
  <div class="comment-form-title">Write comment</div>
  <comment-form
    submitLabel="Write"
    (handleSubmit)="addComment({ text: $event, parentId: null })"
  >
  </comment-form>
  </div>
  <div class="comments-list">
    <comment
      *ngFor="let rootComment of getRootComments()"
      [comment]="rootComment"
      [replies]="getReplies(rootComment.id)"
      [activeComment]="activeComment"
      (setActiveComment)="setActiveComment($event)"
      (addComment)="addComment($event)"
      (deleteComment)="deleteComment($event)"
      (updateComment)="updateComment($event)"
      [currentUserId]="currentUserId"
    >
    </comment>
  </div>
</div>
