/* src/styles.css */
body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh; /* Full height */
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.comment-form {
  width: 70%; /* Left side (half width) for input */
  padding: 20px;
  background-color: #1c1c1c; /* Slightly darker black for form */
  border-right: 1px solid #333; /* Divider between input and comments */
  box-sizing: border-box;
}

.comments-list {
  width: 100%; /* Right side (half width) for displaying comments */
  padding: 20px;
  overflow-y: auto; /* Enable scrolling for large comment lists */
  background-color: #222; /* Slightly darker background for comments */
  box-sizing: border-box;
}

.comments-title {
  font-size: 20px;
  margin-left: 20px;
  color: white;
}

.comment-form-title {
  font-size: 22px;
  color: white;
}

.comment-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  background-color: #333;
  color: white;
  border: 1px solid #6b7212;
  border-radius: 5px;
  box-sizing: border-box;
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
  padding-left: auto;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(59, 130, 246);
}

.comment-text {
  font-size: 18px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(200, 200, 200);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}
